header{
  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}

#logo{
  position: absolute;
  width: 174px;
  height: 32px;
  left: 108px;
  top: 30px;
}

#navegacao{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  position: absolute;
  width: 551px;
  height: 16px;
  left: 484px;
  top: 32px;
}

#btn-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 94px;
  height: 40px;
  left: 1100px;
  top: 20px;
}

#content{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;

  width: 94px;
  height: 36px;

  border: 2px solid #212429;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.label{
  width: 62px;
  height: 20px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #212429;
}

#shadow{
  width: 94px;
  height: 4px;
  background: #212429;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#content-2{
  width: 122px;
  height: 36px;
  background: #19C1CE;
}

#btn-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 122px;
  height: 40px;
  left: 1210px;
  top: 20px;
}

#seta{
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 33.33%;
  bottom: 29.17%;
  background: #212429;
}

#hero{
  position: absolute;
  width: 1440px;
  height: 1115px;
  left: -25px;
}

h1{
  position: absolute;
  width: 600px;
  height: 112px;
  left: 108px;
  top: 30px;

  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 100%;
  color: #212429;
}

#oportunidades{
  color: #19C1CE;
}

#parag-1{
  position: absolute;
  width: 600px;
  height: 90px;
  left: 108px;
  top: 250px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #212429;
}

#text-initial{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 650px;
  left: 25px;
  top: 80px;
}

.form{
  position: absolute;
  width: 496px;
  height: 1083px;
  left: 836px;
  background: #FFFFFF;

  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: solid #7E8A98;
}

#top{
  width: 496px;
  height: 1083px;
  left: 836px;
  top: 500px;
}

#title h4{
  position: relative;
  width: 448px;
  height: 109px;
  left: 860px;
  top: 160px;
}

h4{
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #212429;
}

#subtitle{
  position: absolute;
  width: 265px;
  height: 17px;
  left: 140px;
  top: 110px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #7E8A98;
}

#border{
  position: absolute;
  width: 448px;
  height: 0px;
  left: 20px;
  top: 159px;

  border: 1px solid #CFD3D8;
}

#inputs-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 448px;
  height: 688px;
  left: 20px;
  top: 193px;
}

label{
  width: 448px;
  height: 24px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.input{
  box-sizing: border-box;
  height: 40px;
  width: 448px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-shadow: inset 6px 6px 0px #EEFBFB;
}

#politics{
  position: absolute;
  width: 448px;
  height: 90px;
  top: 630px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #7E8A98;
}

#politics a{
  color: #19C1CE;
}

#btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 448px;
  height: 44px;
  left: 8px;
  top: 809px;
}


#btn-acount{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 448px;
  height: 40px;
  background: #F2BF4E;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#text-2{
  background: #0B485B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
  margin-left: 108px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  color: #FFFFFF;
}

#parag-2{
  width: 600px;
  height: 100px;
  left: 108px;
  top: 869px;
  margin-left: 108px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}


.box {
  position: absolute;
  width: 1440px;
  height: 902px;
  top: 980px;
}


.img {
  object-fit: cover;
  position: absolute;
  width: 600px;
  height: 600px;
  left: 108px;
  margin-top: 222px;
}

.box h3{
  position: absolute;
  width: 496px;
  height: 72px;
  left: 730px;
  top: 180px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #000000;
}

.box p{
  position: absolute;
  width: 495px;
  height: 35px;
  left: 837px;
  top: 300px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #212429;
}

.listagem{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 496px;
  height: 360px;
  left: 836px;
  top: 420px;
}

.box li{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 496px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-li{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #212429;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#shape-img{
  width: 1440px;
  height: 902px;
  left: 1440px;
  top: 2061px;
}

.benefits{
  position: absolute;
  width: 1224px;
  height: 954px;
  left: 108px;
  top: 2083px;
}

#box-2{
  position: absolute;
  width: 1224px;
  height: 954px;
  left: 108px;
  top: 2083px;
}

#cards{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1224px;
  height: 810px;
  left: 108px;
  top: 2500px;
  overflow-x: scroll;
}


#row-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  width: 392px;
  height: 393px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}



#card-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  height: 393px;
  left: 0px;
  top: 150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

#card-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  height: 393px;
  left: 416px;
  top: 150px;
  margin-block-end: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

#card-3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  height: 393px;
  left: 832px;
  top: 150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

#row-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  width: 392px;
  height: 393px;
  left: 0px;
  top: 417px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}


.p-card{
  width: 322px;
  height: 144px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #212429;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.title-card{
  width: 344px;
  height: 105px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #212429;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#card-4{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  height: 393px;
  left: 0px;
  top: 610px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

#card-5{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  height: 393px;
  left: 416px;
  top: 610px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

#card-6{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  position: absolute;
  height: 393px;
  left: 832px;
  top: 610px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

#text-title{
  position: absolute;
  width: 600px;
  height: 80px;
  left: 10px;
  top: 0px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #212429;
}

#container-2{
  position: absolute;
  width: 1224px;
  height: 396px;
  left: 108px;
  top: 3157px;
  background: #0B485B;
}

#container-2 h2{
  position: absolute;
  width: 600px;
  height: 80px;
  left: 312px;
  top: 80px;

  /* heading/md/normal */

  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  /* or 40px */

  text-align: center;

  /* bw/color-white */

  color: #FFFFFF;
}

#btn-container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 257px;
  height: 44px;
  left: 484px;
  top: 272px;


  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px; */
  /* gap: 8px;
  width: 257px;
  height: 40px; */
  background: #F2BF4E;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
/*
  width: 209px;
  height: 24px; */

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212429;

}

#img-graphs{
  position: absolute;
  width: 620.37px;
  height: 395px;
  left: 600.22px;
  top: 0px;
}

#img-demo{
  position: absolute;
  width: 1332px;
  height: 365px;
  left: 0px;
  top: 3673px;
}

#container-2 p{
position: absolute;
width: 808px;
height: 48px;
left: 208px;
top: 184px;

/* body/md/regular */

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* bw/color-white */

color: #FFFFFF;
}

#integrations{
  position: absolute;
  display: flex;
  width: 1332px;
  height: 365px;
  left: 0px;
  top: 3673px;
}

#container-3{
  position: absolute;
  display: flex;
  width: 1224px;
  height: 244px;
  left: 108px;
  top: 490px;
}

#text-label{
  position: absolute;
  width: 600px;
  height: 244px;
}

#icons{
  position: absolute;
  width: 579px;
  height: 160px;
  left: 633px;
}

#title-h2{
  position: absolute;
  width: 600px;
  height: 80px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  color: #212429;
}

#subtitle-3{
  position: absolute;
  width: 600px;
  height: 56px;
  top: 102px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #212429;
}



#btn-label{
  position: absolute;
  top: 200px;
  gap: 8px;
  width: 257px;
  height: 40px;
  background: #19C1CE;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212429;
}

#img-label{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 207px;
  height: 60px;
  background: #19C1CE;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#img-video{
  position: absolute;
  width: 639px;
  height: 365px;
  left: 630px;
  top: -25px;
}

#img-demo{
  position: absolute;
  width: 1332px;
  height: 365px;
  left: 0px;
  top: 3673px;
}

#span-teste{
  position: absolute;
  width: 1332px;
  height: 317px;
  left: 0px;
  background: #F1F3F5;
}

#demo-h3{
  position: absolute;
  width: 392px;
  height: 105px;
  top: 50px;
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  color: #212429;
}

#btn-video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  left: 8.3%;
  right: 73.65%;
  top: 78.1%;
  bottom: 16.05%;
  box-sizing: border-box;
}

#btn-video{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 272px;
  height: 36px;
  border: 2px solid #212429;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#rodape{
  position: absolute;
  width: 1440px;
  height: 181px;
  left: 0px;
  top: 4522px;
  background: #19C1CE;
}

#border-footer{
  position: absolute;
  width: 1224px;
  height: 0px;
  left: 108px;
  top: 100px;
  border: 1px solid #78EDF2;
}

#politic-rodape{
  position: absolute;
  width: 275px;
  height: 21px;
  left: 1075px;
  top: 90px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #212429;
}

#icons-footer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 224px;
  height: 32px;
  left: 1108px;
  top: 40px;

}

#logo-footer{
  position: absolute;
  width: 174px;
  height: 32px;
  left: 108px;
  top: 40px;
}

#icons-integrations{
  position: absolute;
  width: 579px;
  left: 653px;
}

#row-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 579px;
  height: 68px;
  left: 15px;
  top: 20px;
}

#row-icons2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 579px;
  height: 68px;
  left: 15px;
  top: 120px;
}

.icons-integ{
  width: 103px;
  height: 68px;
}

#play-image{
  position: absolute;
  width: 160px;
  height: 160px;
  left: 860px;
  top: 80px;
}

#url{
  margin-top: 8px;
  margin-block-end: 8px;
}

/*
@media screen and (max-width: 360px){
  .site-rd{
    width: 360px;
    height: 100%;
    left: 2768px;
  }
  *.img{
    width: 100%;
  }

  header{
    width: 360px;
    height: 88px;
  }
} */
